name: minix_flutter
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  get: ^4.7.3
  get_storage: ^2.1.1
  google_fonts: ^7.0.2
  image_picker: ^1.2.1
  timeago: ^3.7.1
  webview_flutter: ^4.13.0
  google_generative_ai: ^0.4.0
  flutter_rating_bar: ^4.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
